<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>

    <link rel="stylesheet" href="/static/css/master.css" />
    <link rel="stylesheet" href="/static/css/text_formatting.css" />
    <script src=https://kit.fontawesome.com/48e723b064.js crossorigin=anonymous></script>

    <script defer src="/static/js/utils.js"></script>
</head>
<body>
<span id="back_arrow" class="fa-solid fa-arrow-left-long"></span>

<div class="text-container">
    <h1 style="text-align:center;">Privacy Policy</h1>

    <p>Lumina, made and owned by Actium uses your information as listed below. Feel free to reach out <a href="mailto:richmanzj@gmail.com">us</a> on email.</p>

    <h1>3rd Party Interactions</h1>
    <p>How your data interacts with third party services</p>
    <ul>
        <li>Your full name, preferred name, email and profile picture is obtained and stored by Lumina when signed in via Google.</li>
        <li>Upon giving permission, Lumina will have access to a users Google Drive. This can be disabled at any time.</li>
        <li>Lumina will be able to view, edit, and interpret a Google Document upon being provided.</li>
        <li>OpenAI's 'ChatGPT 3.5' Large Language Model is provided written speeches or documents in order to provide feedback. This can be disabled at any time. </li>
    </ul>

    <h1>How We Use Your Data</h1>
    <p>How Lumina handles, processes, and uses your data</p>
    <ul>
        <li>Your full name, preferred name, preferred pronouns, email, profile picture are saved and recorded upon being provided. These can be changed at any time.</li>
        <li>Your messages on the Lumina application and web services are recorded. They are not actively monitored.</li>
        <li>Your files and files you contribute to are linked to you and can be used as terms of service violations if deemed so.</li>
        <li>Contribution history is recorded on files in order to responsibly uphold our terms of service.</li>
    </ul>
</div>
</body>
</html>